/*.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}*/

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
    font-family: cursive;
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    color: pink;
}

a {
   font-family: cursive;
   color: black;
   margin: 7px;
   font-size: 22px;
}

#logo {
    font-size: 28px;
}

a:hover {
    color: black;
    font-size: 22px;
}

body {
    display: flex;
    flex-direction: column;
}

.menu {
    display:  flex;
    margin: 10px 5px 10px 5px;
    justify-content: space-between;
    background-color: pink;
}

.menu-item {
    font-family: cursive;
    color: #5c5c5c;
}

.menu-content-item {
    font-family: cursive;
    color: #5c5c5c;
    font-size: 30px;
}

.photo-row {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.photo-row-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.food-pic {
    display: flex;
    flex:1;
    max-height: 500px;
    margin-top: 60px;
    margin-bottom: 50px;
}

img {
    max-height: 500px;
    object-fit: fill;
}

.full-page {
    display: flex;
    height: 90vh;
    flex-direction: column;
}

.cart {
    display: block;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: flex-end;
    margin: 30px 10px 30px 10px;
}

.cart-content {
    display: inline;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: grey;
}

#cart-menu {
    color: black;
    font-family: inherit;
    font-size: inherit;
    font-color: inherit;
    margin: none;
    display: inline;
}

.footer {
    display: flex;
    padding-top: 5px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 30px 5px 10px 5px;
    color: grey;
}

h2 {
    font-size: 15px;
    margin-bottom: 20px;
}

p {
    margin-top: -10px;
}

.address {
    font-size: 14px;
}
.hours {
    font-size: 14px;
}
.contact {
    font-size: 14px;
}

.bakery-item-grid {
    display: flex;
    justify-content: center;
}

.bakery-item-grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.bakery-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 25px 10px 50px 10px;
    width:  300px;
    height: 300px;
    object-fit: fill;
    color: grey;
    font-size: 24px;
    font-family: cursive;
    text-align: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.beatrice {
    display: flex;
    justify-content: center;
    width: fit;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:  #5c5c5c;
    margin: 30px 10px 30px 10px;
}

.faq h2 {
    font-size: 18px;
    margin-top: 15px;
    color:  #5c5c5c;
}

.faq p {
    font-size: 16px;
    margin-top: 15px;
    color:  #5c5c5c;
}

.faq {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 30px 10px 30px 10px;
}

.separator {
    display: flex;
    width: inherit;
    height: 2px;
    background-color: pink;
    margin-top: 20px;
    margin-bottom: 20px;
}

